/*Especificidad: 001*/
body {
    font-family: "Cambria Math", sans-serif;
    background-color: #f3c4ff;
    color:rgb(0, 0, 0);
    padding: 3em;
}

/*Especificidad: 001*/
nav {
    font-size: 1.25em;
    padding: 1em;
    text-align: center;
}

/*Especificidad: 001*/
h2 {
    font-size: 1.5em;
    color:rgb(0, 0, 0);
    background-color: #F165A2;
}

/*Especificidad: 001*/
ul {
    line-height: 25px;
    font-size: large;
}

/*Especificidad: 001*/
fieldset {
    padding: 0em;
    border: none;
}