body {
    padding: 1em;
    color: #000000;
    background-color: #ffffff;
}


/*Especificidad: 001*/
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #bdd8ff;
    padding: 0.75em;
    border-style: groove;
}


/*Especificidad: 001*/
ul {
    padding: 1.5em;
    line-height: 25px;
    font-size: large;
}

/*Especificidad: 001*/
p {
    font-size: large;
}